---
# Grafana Deployment

apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana-deployment
  labels:
    app: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana-container
          image: grafana/grafana:latest
          ports:
            - containerPort: 3000

---
# Grafana Service

apiVersion: v1
kind: Service
metadata:
  name: grafana-service
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30001

## Command to run this file
# kubectl apply -f 3-grafana-deployment.yml

## Check Deployment Status
# kubectl get deployments grafana-deployment
# OR
# kubectl get deployments -l app=grafana

## Check Service Status
# kubectl get services grafana-service

## We can edit the deployment using the following command:
# kubectl edit deployment grafana-deployment

## We can edit the service using the following command:
# kubectl edit service grafana-service

## If we are on a Local Machine (Minikube)
# minikube service grafana-service --url

## Find Node IP Address
# kubectl get nodes -o wide

## Access via Browser or Curl:
# Open browser and type: http://<NODE-IP>:30001

## Cleanup
# kubectl delete -f 3-grafana-deployment.yml
